<h3>Login</h3>



<%= form_for :user, :html =>  {class: 'form-inline'}, url: '/login' do |f| %>
  <p>
    <div class="form-group">
      <%= f.email_field :email, type: "email", class: "form-control", id: "exampleInputEmail1", placeholder: "email"%>
    </div>
  </p>
  <p>
    <div class="form-group">
      <%= f.password_field :password, type: "password", class: "form-control", id: "exampleInputEmail1", placeholder: "password"%>
    </div>
  </p>

  <p>
    <%= f.submit 'sign in', :class => 'btn btn-lg btn-primary btn-block', :name => 'sign in'%>
  </p>
<% end %>
